@charset "utf-8";

@import url("jquery-ui.css");
@import url("font-awesome/css/font-awesome.css");
@import url("font.css");
@import url("swiper.min.css");

html {
  height: 100%;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  color: #333;
}
body {
  font-family: "돋움", Dotum;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4;
}
table {
  border-collapse: separate;
  /* *border-collapse: collapse; */
  border-spacing: 0;
  clear: both;
  table-layout: fixed;
}
img,
fieldset {
  border: 0;
}
ul,
ol {
  list-style: none;
}
em,
address {
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  -webkit-text-size-adjust: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
iframe,
embed,
object,
video {
  max-width: 100%;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

.blind,
legend {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}
caption {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nBarun {
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
.notoSans {
  font-family: "Noto Sans KR", "돋움", "굴림", serif;
}

/* form */
fieldset {
  border: 0;
}
input,
textarea {
  border: #ccc 1px solid;
}
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="file"] {
  height: 24px;
  line-height: 22px;
  padding: 0 5px;
  margin: 0;
  vertical-align: middle;
  background: #fff;
  border-radius: 0;
  border: #c2c4ca 1px solid;
  box-shadow: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  ime-mode: inactive;
  outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #6685a4;
}
input[type="image"] {
  border: none;
  background: none;
}
input.datepicker {
  width: 115px;
}
input[type="file"],
input[type="file"].input {
  border: none;
  box-shadow: none;
}
/*ie8 hack*/
input[type="file"],
input[type="file"].input {
  box-shadow: none;
  border: 1px solid #c2c4ca \9;
}
/*ie9 hack*/
:root input[type="file"],
input[type="file"].input {
  border: none \9;
  box-shadow: none;
}
/*ie10 hack*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input[type="file"],
  input[type="file"].input {
    border: none;
    box-shadow: none;
  }
}
textarea.block,
input.block {
  display: block;
  width: 100%;
}
input.red {
  border-color: #fb546e;
}
input.readonly {
  border-color: #c2c4ca;
  background-color: #eeeeee;
}

a.bt-calendar,
.ui-datepicker-trigger,
.btn_monthpicker {
  width: 24px;
  height: 18px;
  cursor: pointer;
  background: url("../images/sp_img.png") 0 -30px no-repeat;
  text-indent: -9999px;
  border: none;
  vertical-align: middle;
  margin-left: 3px;
}

select {
  vertical-align: middle;
}
select.select {
  height: 24px;
  min-width: 60px;
  line-height: 24px;
  vertical-align: middle;
  background-image: url("../images/arrow_select_down.png");
  background-position: right center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0 30px 0 5px;
  padding-right: 0\0 / IE8 + 9;
  background-image: none\0 / IE8 + 9;
  overflow: hidden;
  line-height: 1\0 / IE8 + 9;
  border: #c2c4ca 1px solid;
  box-shadow: none;
}
select::-ms-expand,
select.select::-ms-expand {
  display: none; /*display: block\0/IE8+9; */
}
select:disabled,
select.select:disabled {
  background-image: url("../images/arrow_select_down_disabled.png");
}
select.block {
  width: 100%;
  min-width: auto;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

label.radio,
label.checkbox {
  display: inline-block;
  margin-right: 10px;
}

input[type="checkbox"],
input[type="radio"] {
  border: none !important;
}

/* padding margin */
.mt0 {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.pd0 {
  padding: 0 important;
}

.cRed {
  color: #fb546e !important;
}
.cBlue {
  color: #03a9f4 !important;
}
.bgGray {
  background-color: #fcfcfc !important;
}

.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.vm {
  vertical-align: middle;
}

.l {
  text-align: left !important;
}
.c {
  text-align: center !important;
}
.r {
  text-align: right !important;
}
.vm {
  vertical-align: middle !important;
}

/* btn */
.btn {
  padding: 0 15px;
  line-height: 24px;
  min-width: 55px;
  margin: 0;
  height: 24px;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.btn:hover {
  text-decoration: none;
}

.btn.btn-ssm {
  padding: 0 6px;
  min-width: 55px;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  font-weight: 400;
}
.btn.btn-sm {
  padding: 0 10px;
  min-width: 60px;
  height: 25px;
  line-height: 23px;
  font-weight: 400;
}
.btn.btn-lg {
  padding: 0 15px;
  min-width: 60px;
  height: 30px;
  line-height: 28px;
  font-weight: 600;
}
.btn-rec {
  border-radius: 0;
}
.btn.block {
  width: 100%;
  padding: 0;
}

.btn.btn-default {
  background: #7c808b;
  border: #7c808b 1px solid;
  color: #fff;
}
.btn.btn-red {
  background: #fb546e;
  border: #fb546e 1px solid;
  color: #fff;
}
.btn.btn-red1 {
  background: #e83752;
  border: #b50621 1px solid;
  color: #fff;
}
.btn.btn-red2 {
  background: #94031a;
  border: #dd6376 1px solid;
  color: #fff;
}
.btn.btn-green {
  background: #33986a;
  border: #33986a 1px solid;
  color: #fff;
}
.btn.btn-close {
  background: #5d616b;
  border: #5d616b 1px solid;
  color: #fff;
}
.btn.btn-close:after {
  content: "";
  width: 9px;
  height: 6px;
  vertical-align: middle;
  background: url("../images/sp_img.png") -75px -36px no-repeat;
  display: inline-block;
  margin: 0 0 4px 15px;
}
.btn.btn-close.active:after {
  background: url("../images/sp_img.png") -58px -5px no-repeat;
}

.btn > .ic-arr {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 11px;
  background: url("../images/sp_img.png") -149px -31px no-repeat;
  margin: 0 0 0 10px;
}

.btn-box {
  text-align: center;
  margin: 15px 0 0 0;
}
.btn-box.btm {
  margin-bottom: 10px;
}
.btn-box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.btn-box > .fl {
  margin-bottom: 10px;
}
.btn-box > .fr {
  margin-bottom: 10px;
}
.btn-box.page-line {
  position: relative;
  z-index: 1;
  height: 0;
  margin-top: 0;
}
.btn-box.page-line .fr,
.btn-box.page-line .fl {
  position: absolute;
  top: -24px;
  float: none;
}
.btn-box.page-line .fr {
  right: 0;
}
.btn-box.page-line .fl {
  left: 0;
}

/************************************************
	layout
************************************************/
#wrap {
  position: relative;
  min-width: 1280px;
  width: 100%;
  margin: 0;
}
#header {
  position: relative;
  border-bottom: #ce2d46 2px solid;
}
#header .div-utill {
  background-color: #ce2d46;
  height: 38px;
}
#header .div-utill > ul {
  text-align: right;
  padding: 0 146px 0 0;
}
#header .div-utill > ul > li {
  line-height: 38px;
  display: inline-block;
  vertical-align: middle;
}
#header .div-utill > ul > li.user {
  color: #fff;
  font-size: 11px;
  margin-right: 5px;
}
#header .div-utill > ul > li.user:before {
  content: "";
  width: 10px;
  height: 11px;
  background: url("../images/sp_img.png") -4px -3px no-repeat;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
#header .div-utill > ul > li.lnk {
  margin-left: 10px;
}
#header .div-utill > ul > li.lnk a {
  position: relative;
  color: #eaa8a8;
  font-family: "Noto Sans KR", "돋움", "굴림", serif;
  letter-spacing: -0.05em;
  padding: 0 5px 0 8px;
  display: inline-block;
  vertical-align: middle;
}
#header .div-utill > ul > li.lnk a + a:before {
  content: "";
  width: 1px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  display: block;
  background-color: #e67385;
}
#header .div-utill > ul > li.user-info > .input {
  display: inline-block;
  border: 1px solid #b50621;
  border-radius: 3px;
  height: 20px;
  line-height: 18px;
  font-size: 11px;
  color: #666;
}
#header .head-inner {
  position: relative;
  height: 70px;
  background: url("../images/bg_gnb.gif") 0 0 repeat-x;
}
#header h1.logo {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 133px;
  z-index: 9;
}
#header h1.logo a {
  background: url("../images/interplug_footer_logo.png") 50% 50% no-repeat;
  display: block;
  height: 38px;
  text-indent: -9999px;
}

body#index #header .div-utill > ul {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  text-align: right;
}
body#index #header .head-inner h1.logo {
  left: 50%;
  margin-left: -490px;
}

#gnb-wrap {
  position: relative;
  padding: 0 0 0 180px;
}
#gnb-wrap #gnb:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#gnb-wrap #gnb > li {
  float: left;
}
#gnb-wrap #gnb > li > a {
  display: block;
  padding: 0 44px;
  padding: 0 40px\0 / IE8 + 9;
  font-size: 17px;
  color: #000;
  font-weight: 400;
  line-height: 70px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#gnb-wrap #gnb > li:last-child > a {
  padding-right: 0;
}
#gnb-wrap #gnb > li > a:hover {
  color: #ce2d46;
}
#gnb-wrap #gnb > li > .deth2 {
  display: none;
}

body#index #gnb-wrap {
  width: 980px;
  margin: 0 auto;
}

#container {
  position: relative;
  display: table;
  width: 100%;
  min-height: 645px;
  padding: 0 160px 0 10px;
}
#container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 210px;
  display: block;
  border-left: #ececec 1px solid;
  border-right: #ececec 1px solid;
}
#contents {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding: 0 0 50px 30px;
}
#lm {
  position: relative;
  width: 210px;
  display: table-cell;
  vertical-align: top;
  padding: 0 0 20px 0;
}
#lm > h2.h2-tit {
  position: relative;
  background-color: #ce2d46;
  padding: 14px 0 0 0;
  display: table;
  width: 100%;
  height: 90px;
}
#lm > h2.h2-tit:before {
  content: "";
  width: 16px;
  height: 1px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: -8px;
}
#lm > h2.h2-tit strong {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 500;
  line-height: 1.1;
}
#snb > li > a {
  position: relative;
  font-size: 13px;
  color: #333;
  display: block;
  padding: 8px 24px 8px 10px;
  border-bottom: #ececec 1px solid;
  border-right: #ececec 1px solid;
  border-left: #ececec 1px solid;
}
#snb > li > a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  background: url("../images/sp_img.png") -30px -3px no-repeat;
  width: 6px;
  height: 9px;
  margin-top: -4px;
}
#snb > li > a:hover,
#snb > li.active > a {
  background-color: #fb546e;
  border-color: #fb546e;
  font-weight: 600;
  color: #fff;
}
#snb > li > a:hover:after,
#snb > li.active > a:after {
  right: 9px;
  background: url("../images/sp_img.png") -178px -32px no-repeat;
  width: 6px;
  height: 9px;
  margin-top: -4px;
}
#snb > li.hasSub > a:hover:after,
#snb > li.hasSub.active > a:after {
  right: 9px;
  background: url("../images/sp_img.png") -58px -5px no-repeat;
  width: 9px;
  height: 6px;
  margin-top: -3px;
}
#snb > li > ul {
  background-color: #fafafa;
  padding: 14px 15px;
  border-left: #ececec 1px solid;
  border-right: #ececec 1px solid;
  border-bottom: #ececec 1px solid;
  display: none;
}
#snb > li > ul > li > a {
  display: block;
  padding: 5px 0 5px 10px;
  font-size: 12px;
  text-indent: -10px;
}
#snb > li > ul > li > a:before {
  content: "";
  background: url("../images/sp_img.png") -90px -4px no-repeat;
  width: 4px;
  height: 7px;
  display: inline-block;
  margin-right: 5px;
  font-size: 11px;
}
#snb > li > ul > li > a:hover,
#snb > li > ul > li.active > a {
  color: #e3475f;
}
#snb > li > ul > li > a:hover:before,
#snb > li > ul > li.active > a:before {
  background: url("../images/sp_img.png") -120px -4px no-repeat;
}

#lm .lm-brn {
  margin: 35px 0 0 0;
  padding: 0 10px;
}
#lm .lm-brn > li {
  position: relative;
  padding: 14px 0 14px 65px;
}
#lm .lm-brn > li strong {
  display: block;
  font-size: 14px;
  color: #333;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
  text-transform: uppercase;
}
#lm .lm-brn > li span {
  display: block;
  color: #629005;
  font-size: 16px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
}
#lm .lm-brn > li a {
  display: block;
  color: #ce2d46;
  font-size: 14px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
}
#lm .lm-brn > li a:after {
  content: "";
  width: 5px;
  height: 7px;
  display: inline-block;
  background: url("../images/sp_img.png") -179px -4px no-repeat;
  margin-left: 7px;
}
#lm .lm-brn > li + li {
  border-top: #ececec 1px solid;
}
#lm .lm-brn > li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -18px;
  width: 43px;
  height: 36px;
  display: block;
  background: url("../images/lm_brn1.png");
}
#lm .lm-brn > li.item1:after {
  background-image: url("../images/lm_brn1.png");
}
#lm .lm-brn > li.item2:after {
  background-image: url("../images/lm_brn2.png");
}
#lm .lm-brn > li.item3:after {
  background-image: url("../images/lm_brn3.png");
}

#footer {
  border-top: #f6f6f6 1px solid;
  padding: 25px 0;
}
#footer .footer-wrap {
  position: relative;
  padding: 0 0 0 310px;
}
#footer .footer-wrap:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50px;
  display: block;
  margin-top: -13px;
  background: url("../images/interplug_footer_logo.png") 0 0 no-repeat;
  width: 100px;
  height: 26px;
}
#footer .footer-wrap .footer-link li {
  display: inline-block;
}
#footer .footer-wrap .footer-link li a {
  font-size: 11px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
}
#footer .footer-wrap .footer-link li:first-child {
  margin-right: 10px;
}
#footer .footer-wrap .footer-link li:first-child a {
  color: #6f5d28;
}
#footer .footer-wrap address {
  margin: 10px 0 5px;
  color: #959595;
  font-size: 11px;
}
#footer .footer-wrap .copy {
  color: #959595;
  font-size: 11px;
  text-transform: uppercase;
}
#footer .footer-wrap .famliy-link {
  position: absolute;
  top: 0;
  right: 15px;
  width: 240px;
}
#footer .footer-wrap .famliy-link > button {
  position: relative;
  background-color: #dbdbdb;
  border: none;
  width: 100%;
  display: block;
  text-align: left;
  line-height: 37px;
  padding: 0 20px;
  color: #fff;
  font-size: 13px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
  cursor: pointer;
}
#footer .footer-wrap .famliy-link > button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 11px;
  height: 6px;
  margin-top: -3px;
  display: block;
  background: url("../images/sp_img.png") -146px -4px no-repeat;
}
#footer .footer-wrap .famliy-link > ul {
  background-color: #dbdbdb;
  position: absolute;
  bottom: 37px;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 170px;
  padding: 10px 0;
  z-index: 9999;
  display: none;
}
#footer .footer-wrap .famliy-link > ul > li > a {
  display: block;
  padding: 8px 20px;
  color: #fff;
}

body#index #footer .footer-wrap {
  width: 980px;
  margin: 0 auto;
  padding: 0 0 0 170px;
}
body#index #footer .footer-wrap:before {
  left: 0;
}
body#index #footer .footer-wrap .famliy-link {
  right: 0;
}

/* float-right */
.float-right {
  position: absolute;
  top: 200px;
  right: 10px;
  width: 130px;
}
.float-right > h2 {
  line-height: 50px;
  background-color: #33986a;
  border-radius: 5px 5px 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #fff;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
.float-right > ul {
  border: #f1f1f1 1px solid;
  border-top: none;
  padding: 18px 0 20px;
}
.float-right > ul > li + li {
  margin-top: 15px;
}
.float-right > ul > li a {
  display: block;
  font-size: 13px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  text-align: center;
}
.float-right > ul > li a:before {
  content: "";
  width: 53px;
  height: 53px;
  display: block;
  margin: 0 auto 8px;
  background-color: #f3f3f3;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.float-right > ul > li.item1 a:before {
  background-image: url("../images/r_brn1.png");
}
.float-right > ul > li.item2 a:before {
  background-image: url("../images/r_brn2.png");
}
.float-right > ul > li.item3 a:before {
  background-image: url("../images/r_brn3.png");
}
.float-right > ul > li.item4 a:before {
  background-image: url("../images/r_brn4.png");
}
.float-right > ul > li.item5 a:before {
  background-image: url("../images/r_brn5.png");
}

/* popup */
#pop-wrap {
}
#pop-wrap h1.pop-tit {
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  background-color: #fb546e;
  line-height: 45px;
  font-size: 16px;
  padding: 0 20px;
  color: #fff;
}
#pop-wrap .pop-con {
  padding: 25px 20px;
}
#pop-wrap .pop-con h2 {
  font-size: 13px;
  color: #333;
  font-weight: 600;
  margin: 20px 0 10px;
}
#pop-wrap .pop-con > p > span.big-tx {
  font-size: 18px;
  font-weight: 600;
}

#pop-wrap-sm {
  border: #fb546e 2px solid;
  padding: 30px 20px;
}

/************************************************
	main
************************************************/
#indexWrap {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}
#indexWrap .main-top:after,
#indexWrap .main-middle:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#indexWrap .main-slide {
  position: relative;
  overflow: hidden;
  width: 655px;
  height: 309px;
  float: left;
}
#indexWrap .main-slide .pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
#indexWrap .main-slide .pagination .swiper-pagination-switch {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #b0b0b0;
  border-color: #b0b0b0;
  margin: 0 5px;
  opacity: 1;
  cursor: pointer;
}
#indexWrap
  .main-slide
  .pagination
  .swiper-pagination-switch.swiper-active-switch {
  background-color: #d22121;
  border-color: #d22121;
  opacity: 1;
}

#indexWrap .m-login {
  background: #f9f9f9 url("../images/bg_login.jpg") 207px 34px no-repeat;
  width: 325px;
  height: 309px;
  float: left;
  padding: 92px 30px 0 30px;
}
#indexWrap .m-login h2 {
  font-size: 24px;
  color: #000;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#indexWrap .m-login h2 strong {
  font-size: 24px;
  color: #000;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#indexWrap .m-login .form-bx {
  position: relative;
  padding: 0 75px 0 0;
  margin-top: 15px;
}
#indexWrap .m-login .form-bx .input {
  display: block;
  width: 100%;
  border-color: #e6e6e6;
  height: 25px;
  line-height: 25px;
}
#indexWrap .m-login .form-bx .input + .input {
  margin-top: 5px;
}
#indexWrap .m-login .form-bx .bt-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 84px;
  display: block;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  text-align: center;
  line-height: 82px;
  background-color: #ce2d46;
}
#indexWrap .m-login .link-bx {
  margin: 15px 0 0 0;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#indexWrap .m-login .link-pay {
  margin: 10px 0 0 0;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: bold;
}
#indexWrap .m-login .link-bx * {
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-size: 12px;
  color: #666;
}
#indexWrap .m-login .link-bx a {
  position: relative;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}
#indexWrap .m-login .link-bx a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
  width: 1px;
  height: 8px;
  background-color: #d1d1d1;
  display: block;
}

#indexWrap .user-area {
  background: #f9f9f9 url("../images/bg_login.jpg") 207px 34px no-repeat;
  width: 325px;
  height: 309px;
  float: left;
  padding: 92px 30px 0 30px;
}
#indexWrap .user-area h2 strong {
  font-size: 24px;
  color: #000;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#indexWrap .user-area > ul {
  background-color: #fff;
  width: 260px;
  padding: 25px 0 45px 15px;
  margin: 3px 0 0 0;
}
#indexWrap .user-area > ul > li {
  margin: 10px 0 0 0;
  color: #333;
}
#indexWrap .user-area > ul > li.user strong {
  color: #fb546e;
}

#indexWrap .m-notice {
  position: relative;
  float: left;
  width: 655px;
  height: 278px;
  padding: 35px 30px 0 30px;
  border-left: #e5e5e5 1px solid;
}
#indexWrap .m-notice h2 {
  font-size: 22px;
  color: #000;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  line-height: 1;
  padding: 0;
  margin: 0 0 25px 0;
}
#indexWrap .m-notice ul li {
  position: relative;
  border-top: #eaeaea 1px solid;
  padding: 0 110px 0 0;
}
#indexWrap .m-notice ul li a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  font-size: 16px;
  line-height: 40px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#indexWrap .m-notice ul li .date {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  font-size: 16px;
  color: #999;
  line-height: 40px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#indexWrap .m-notice .bt-more {
  position: absolute;
  top: 34px;
  display: block;
  right: 39px;
  width: 21px;
  height: 21px;
  background: url("../images/sp_img.png") -111px -26px no-repeat;
  text-indent: -9999px;
}

#indexWrap .m-brn {
  position: relative;
  float: left;
  width: 325px;
  height: 278px;
}
#indexWrap .m-brn a {
  display: block;
  height: 278px;
  text-align: center;
  padding: 70px 0 0 0;
  background: url("../images/m_brn01.jpg") 50% 0 no-repeat;
  color: #fff;
  font-size: 18px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#indexWrap .m-brn a img {
  display: block;
  margin: 0 auto 14px;
}
#indexWrap .m-brn a .bt-view {
  display: block;
  margin: 22px auto 0;
  width: 110px;
  height: 34px;
  line-height: 34px;
  border: #fff 1px solid;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-size: 14px;
}
#indexWrap .m-brn a .bt-view:after {
  content: "";
  width: 6px;
  height: 11px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  background: url("../images/sp_img.png") -149px -31px no-repeat;
}

#indexWrap .main-brn2 {
  border: #e5e5e5 1px solid;
  border-top: #f6f6f6 1px solid;
}
#indexWrap .main-brn2:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#indexWrap .main-brn2 dl {
  float: left;
}
#indexWrap .main-brn2 dl.item1 {
  width: 327px;
  height: 260px;
  background-color: #edfbf1;
}
#indexWrap .main-brn2 dl.item2 {
  width: 327px;
  height: 260px;
  background-color: #fffff7;
  border-left: #e5e5e5 1px solid;
}
#indexWrap .main-brn2 dl.item3 {
  width: 324px;
  height: 260px;
  background-color: #fdf8f5;
  border-left: #e5e5e5 1px solid;
}
#indexWrap .main-brn2 dl dt {
  padding: 103px 0 0 0;
  margin: 0 0 10px 0;
  text-align: center;
  color: #05591a;
  font-size: 22px;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
  text-transform: uppercase;
}
#indexWrap .main-brn2 dl.item1 dt {
  background: url(../images/m_brn0201.png) 50% 22px no-repeat;
}
#indexWrap .main-brn2 dl.item2 dt {
  background: url(../images/m_brn0202.png) 50% 22px no-repeat;
}
#indexWrap .main-brn2 dl.item3 dt {
  background: url(../images/m_brn0203.png) 50% 22px no-repeat;
}
#indexWrap .main-brn2 dl dd {
  text-align: center;
  font-size: 14px;
  color: #666;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#indexWrap .main-brn2 dl dd .tel {
  display: block;
  font-size: 26px;
  color: #000;
  margin: 5px 0;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
}
#indexWrap .main-brn2 dl dd .bt-view {
  display: block;
  width: 86px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  margin: 25px auto 0;
}
#indexWrap .main-brn2 dl.item2 dd .bt-view {
  background-color: #91916f;
}
#indexWrap .main-brn2 dl.item3 dd .bt-view {
  background-color: #7f6d62;
}

/************************************************
	common
************************************************/

/* location */
.location {
  position: relative;
  padding: 12px 0 14px;
  text-align: right;
  font-size: 11px;
}
.location em {
  padding: 0 0 0 4px;
  font-weight: 600;
  color: #858585;
}
.location span {
  padding: 0 0 0 4px;
  color: #858585;
  font-weight: 400;
}
.location span:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: url("../images/sp_img.png") -210px -4px no-repeat;
  vertical-align: middle;
  margin-left: 4px;
}
.location span.ic-home {
  padding: 0;
}
/* //location */

.tit-area {
  position: relative;
  border-bottom: #ececec 1px solid;
  padding: 0 0 15px 0;
  margin: 0 0 30px 0;
  z-index: 9;
}
.tit-area h3.h3-tit {
  font-size: 28px;
  color: #000;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
}
.tit-area .btn-help {
  position: absolute;
  top: 10px;
  right: 0;
  padding-right: 30px;
  cursor: pointer;
}
.tit-area .btn-help:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  background: url("../images/sp_img.png") -234px 0 no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}
.tit-area .pop-help {
  position: absolute;
  top: 80px;
  right: 0;
  width: 726px;
  border: #fb546e 2px solid;
  background-color: #fff;
  display: none;
}
.tit-area .pop-help > dt {
  position: relative;
  line-height: 46px;
  height: 46px;
  color: #fff;
  padding: 0 50px;
  background-color: #fb546e;
}
.tit-area .pop-help > dt .bt-close {
  position: absolute;
  top: 15px;
  right: 19px;
  width: 17px;
  height: 17px;
  background: url("../images/sp_img.png") -41px -30px no-repeat;
  display: block;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}
.tit-area .pop-help > dt:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  background: url("../images/sp_img.png") -264px 0 no-repeat;
  width: 28px;
  height: 28px;
}
.tit-area .pop-help > dd {
  padding: 30px 28px;
  line-height: 2;
}

.tit-area2 {
  position: relative;
  margin: 25px 0 10px;
}
.tit-area2 .right {
  position: absolute;
  top: 0;
  right: 0;
}
.tit-area2 > h4 {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding: 0 0 0 16px;
}
.tit-area2 > h4:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border: #333 3px solid;
  border-radius: 50%;
  display: inline-block;
}

/* ul list */
ul.ul-list01 > li {
  text-indent: -18px;
  padding-left: 18px;
  text-align: left;
}
ul.ul-list01 > li + li {
  margin-top: 4px;
}
ul.ul-list01 > li a {
  text-indent: 0;
}

ul.ul-list02 > li + li {
  margin-top: 5px;
}
ul.ul-list02 > li > .tit-tx:before {
  content: "";
  width: 3px;
  height: 5px;
  background: url("../images/sp_img.png") -180px -71px no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
ul.ul-list02 > li > span + .tit-tx {
  margin-left: 15px;
}

.caution-tx {
  text-indent: -35px;
  padding-left: 35px;
}

/* table */
table.list {
  width: 100%;
  border-collapse: separate;
  /* *border-collapse: collapse; */
  border-spacing: 0px;
  clear: both;
  border-top: #f55976 2px solid;
  table-layout: fixed;
}
table.list > thead th {
  color: #7c545b;
  font-weight: 600;
  background-color: #feedf0;
  padding: 8px 0;
  text-align: center;
  border-left: #fccbd4 1px solid;
  border-bottom: #fccbd4 1px solid;
}
table.list > tbody td {
  padding: 8px 0;
  text-align: center;
  border-left: #e1e2e6 1px solid;
  border-bottom: #e1e2e6 1px solid;
  word-break: break-all;
}
table.list > tbody td.r {
  padding-right: 10px;
}
table.list tr th:first-child,
table.list tr td:first-child {
  border-left: none;
}
table.list.gray {
  border-top: #a7a7a7 2px solid;
}
table.list.gray > thead th {
  background-color: #f5f5f5;
  border-color: #e3e3e3;
  color: #333;
}
table.list.green {
  border-top: #86c8a8 2px solid;
}
table.list.green > thead th {
  background-color: #f2f9f6;
  border-color: #d9eee4;
  color: #333;
}
table.list.green > tbody td {
  border-color: #d9eee4;
}
table.list.default {
  border-top: #7e7e7e 2px solid;
}
table.list.default > thead th {
  background-color: #fbfbfc;
  border-color: #e1e2e6;
  color: #333;
}
table.list.default > tbody td {
  border-color: #e1e2e6;
}
table.list.default > tbody td.l {
  padding: 8px;
}
table.list.line {
  border-right: #e1e2e6 1px solid;
}
table.list.line thead th,
table.list.line tbody td {
  border-left: #e1e2e6 1px solid;
  padding: 8px;
}
table.list .ic-file {
  width: 22px;
  height: 22px;
  display: inline-block;
  background: url("../images/sp_img.png") -107px -64px no-repeat;
  vertical-align: middle;
  text-indent: -9999px;
}
table.list tbody tr.selected {
  background-color: #fff4df;
}
table.list td.dLine {
  border-bottom: #e1e2e6 4px double;
}

.faq-wrap th .bt-open {
  width: 17px;
  height: 17px;
  display: inline-block;
  background: #999 url("../images/sp_img.png") 0 -65px no-repeat;
  border: none;
}
.faq-wrap .tr-q .bt-open {
  width: 17px;
  height: 17px;
  cursor: pointer;
  display: inline-block;
  background: #999 url("../images/sp_img.png") 0 -65px no-repeat;
  border: none;
}
.faq-wrap .tr-q.active .bt-open {
  width: 17px;
  height: 17px;
  cursor: pointer;
  display: inline-block;
  background: #999 url("../images/sp_img.png") -40px -65px no-repeat;
  border: none;
}

table.view {
  width: 100%;
  border-collapse: separate;
  /* *border-collapse: collapse; */
  border-spacing: 0px;
  clear: both;
  border-top: #e4e4e4 1px solid;
  border-right: #e4e4e4 1px solid;
  table-layout: fixed;
}
table.view tbody th {
  padding: 8px 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: #e4e4e4 1px solid;
  border-left: #e4e4e4 1px solid;
  background-color: #fbfbfc;
  font-weight: 400;
}
table.view tbody td {
  padding: 8px 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: #e4e4e4 1px solid;
  border-left: #e4e4e4 1px solid;
}
table.view.red,
table.view.red tbody th,
table.view.red tbody td {
  border-color: #fccbd4;
}
table.view.red tbody th {
  background-color: #fef0f3;
  color: #bb6573;
}
table.view .bgRed {
  background-color: #fef0f3;
}
table.view .bgBlue {
  background-color: #d8f0fe;
}
table.view .bgGreen {
  background-color: #bdd699;
}
table.view tbody td .select {
  vertical-align: top;
}

table.write {
  width: 100%;
  border-collapse: separate;
  /* *border-collapse: collapse; */
  border-spacing: 0px;
  clear: both;
  border-top: #7e7e7e 2px solid;
  table-layout: fixed;
}
table.write tbody th {
  padding: 8px 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: #e1e2e6 1px solid;
  border-left: #e1e2e6 1px solid;
  background-color: #fbfbfc;
  font-weight: 600;
  color: #333;
}
table.write tbody th .req {
  font-weight: 600;
  color: #fb546e;
}
table.write tbody td {
  padding: 8px 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: #e1e2e6 1px solid;
  border-left: #e1e2e6 1px solid;
}
table.write tbody .fir {
  border-left: none;
}
table.write tbody .dv-edit {
  padding: 0;
}
table.write .ic-del,
table.view .ic-del {
  vertical-align: middle;
  width: 11px;
  height: 11px;
  text-indent: -9999px;
  text-align: left;
  display: inline-block;
  background: #7c808b url("../images/sp_img.png") -74px -68px no-repeat;
}
.ic-file2:before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  background: #e1e2e6 url("../images/sp_img.png") -147px -63px no-repeat;
  vertical-align: middle;
  text-indent: -9999px;
  margin: 0 5px 0 0;
}
.vew-td {
  border: #e1e2e6 1px solid;
  padding: 20px;
  margin: 20px 0 0 0;
}

.tbl-hd {
  position: relative;
  padding: 10px 0;
  border-bottom: #d9d9d9 1px solid;
  margin: 30px 0 15px 0;
}
.tbl-hd.noBrd {
  border-bottom: none;
}
.tbl-hd .total {
  font-weight: 600;
  display: inline-block;
}
.tbl-hd .total strong {
  color: #fb546e;
}
.tbl-hd .right {
  position: absolute;
  top: 0;
  right: 0;
}
.tbl-hd .right .select,
.tbl-hd .right .input,
.tbl-hd .right .btn {
  vertical-align: top;
}

.table-grd {
  width: 100%;
  border-collapse: separate;
  /* *border-collapse: collapse; */
  border-spacing: 0px;
  clear: both;
  table-layout: fixed;
}
.table-grd td {
  vertical-align: top;
}

/* paginate_complex */
.paginate_complex {
  margin: 20px 0 0;
  line-height: normal;
  text-align: center;
}
.paginate_complex a,
.paginate_complex strong {
  display: inline-block;
  position: relative;
  margin: 0 2px;
  min-width: 24px;
  padding: 0;
  font: normal 12px/22px Tahoma, Sans-serif;
  border: #c2c4ca 1px solid;
  border-right: #a5a7ac 1px solid;
  border-bottom: #a5a7ac 1px solid;
  border-radius: 2px;
  color: #333;
  text-decoration: none;
  vertical-align: top;
}
.paginate_complex a:hover,
.paginate_complex a:active,
.paginate_complex a:focus {
  border: #7c808b 1px solid;
  background-color: #7c808b;
  color: #fff;
  border-right: #6a6d76 1px solid;
  border-bottom: #6a6d76 1px solid;
}
.paginate_complex strong {
  color: #fff;
  border: #7c808b 1px solid;
  background: #7c808b;
  border-right: #6a6d76 1px solid;
  border-bottom: #6a6d76 1px solid;
}
.paginate_complex .direction {
  text-indent: -9999px;
  color: #767676;
  text-decoration: none !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.paginate_complex .direction:hover,
.paginate_complex .direction:active,
.paginate_complex .direction:focus {
  background-color: #fff;
}
.paginate_complex .fir {
  background-image: url(../images/paging_fir.gif);
}
.paginate_complex .last {
  background-image: url(../images/paging_last.gif);
}
.paginate_complex .prev {
  background-image: url(../images/paging_prev.gif);
}
.paginate_complex .next {
  background-image: url(../images/paging_next.gif);
}
.paginate_complex .right {
  float: right;
}
/* //paginate_complex */

/* pnt-type */
.pnt-type {
  background-color: #f5f5f5;
  margin: 40px 0 0 0;
  padding: 0 18px 20px 18px;
}
.pnt-type:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pnt-type .item {
  float: left;
  width: 179px;
}
.pnt-type .item + .item {
  margin-left: 27px;
}
.pnt-type .item label {
  display: block;
  text-align: center;
  line-height: 42px;
  color: #000;
}

/* row-grp */
.row-grp:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.row-grp .row-5 {
  float: left;
  width: 49%;
  vertical-align: top;
  clear: none;
}
.row-grp .row-5 + .row-5 {
  float: right;
}
.row-grp.n3 {
  margin-left: -1%;
}
.row-grp.n3 .row-4 {
  float: left;
  width: 39%;
  margin-left: 1%;
  vertical-align: top;
  clear: none;
}
.row-grp.n3 .row-3 {
  float: left;
  width: 32.3%;
  margin-left: 1%;
  vertical-align: top;
  clear: none;
}
.row-grp.n3 .row-2 {
  float: left;
  width: 19%;
  margin-left: 1%;
  vertical-align: top;
  clear: none;
}

/* bill-bx */
.bill-bx {
  position: relative;
  width: 880px;
  margin: 0 auto;
  border-bottom: #145fd1 1px solid;
}
.bill-bx > table {
  width: 100%;
  border-collapse: separate;
  /* *border-collapse: collapse; */
  border-spacing: 0px;
  clear: both;
  border-top: #145fd1 2px solid;
  border-right: #145fd1 2px solid;
  border-left: #145fd1 1px solid;
  table-layout: fixed;
}
.bill-bx > table + table {
  border-top: #145fd1 1px solid;
}
.bill-bx > table th,
.bill-bx > table td {
  border-bottom: #145fd1 1px solid;
  border-left: #145fd1 1px solid;
  padding: 10px 5px;
  text-align: center;
}
.bill-bx > table th {
  font-weight: 600;
}
.bill-bx > table th.l,
.bill-bx > table td.l {
  padding: 10px;
}
.bill-bx > table th.r,
.bill-bx > table td.r {
  padding: 10px;
}
.bill-bx.red {
  border-color: #e4e4e4;
  border-bottom: none;
}
.bill-bx.red > table {
  border-top: #e4e4e4 1px solid;
  border-right: #e4e4e4 1px solid;
  border-left: none;
}
.bill-bx.red > table + table {
  border-top: none;
}
.bill-bx.red > table th,
.bill-bx.red > table td {
  border-color: #e4e4e4;
  border-left: #e4e4e4 1px solid;
  padding: 5px 5px;
}
.bill-bx.red > table th {
  background-color: #fbfbfc;
  font-weight: 400;
  padding: 5px 10px;
}
.bill-bx.red > table th.bgRed {
  background-color: #fef0f3;
  color: #bb6573;
}
.bill-bx.red > table th.bgBlue {
  background-color: #d8f0fe;
  color: #5e9ec4;
}
.bill-bx.red > table th.bgGreen {
  background-color: #bdd699;
  color: #62901f;
}
.bill-bx.red > table th.tit {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  font-weight: 600;
  padding: 15px;
}
.bill-bx.red .bill-hd {
  position: relative;
  border: #e4e4e4 1px solid;
  border-bottom: none;
}
.bill-bx.red .bill-hd .tit {
  height: 85px;
  line-height: 85px;
  text-align: center;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  letter-spacing: 1em;
}
.bill-bx.red .bill-hd .n-tx {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 174px;
  text-align: right;
  white-space: nowrap;
}
.bill-bx.red .bill-hd .n-tx p + p {
  margin-top: 5px;
}
.bill-bx .bill-hd .n-tx.left {
  top: 20px;
  bottom: auto;
  left: 10px;
  text-align: left;
} /*171120 수정 */
.bill-bx.red > .bill {
  border-left: #e4e4e4 1px solid;
  margin: 0 0 -1px 0;
  overflow: hidden;
}
.bill-bx.red > .bill:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.bill-bx.red > .bill table {
  float: right;
  width: 440px;
  border-top: #e4e4e4 1px solid;
  border-right: #e4e4e4 1px solid;
  border-left: none;
}
.bill-bx.red > .bill table + table {
  border-top: none;
}
.bill-bx.red > .bill table th,
.bill-bx.red > .bill table td {
  border-color: #e4e4e4;
  border-bottom: #e4e4e4 1px solid;
  border-left: #e4e4e4 1px solid;
  padding: 5px 5px;
}
.bill-bx.red > .bill table th {
  background-color: #fbfbfc;
  font-weight: 400;
  padding: 5px 10px;
}
.bill-bx.red > .bill table th.bgRed {
  background-color: #fef0f3;
  color: #bb6573;
}
.bill-bx.red > .bill table th.bgBlue {
  background-color: #d8f0fe;
  color: #5e9ec4;
}
.bill-bx.red > .bill table th.tit {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  font-weight: 600;
  padding: 15px;
}
.pop-con .bill-bx {
  width: 100%;
}
.bill-bx .label-im {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -130px 0 0 -160px;
}

/* error-bx */
#container.error {
  display: block;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
#container.error:before {
  display: none;
}
.error-bx {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -340px;
  border: #e7e7e7 1px solid;
  width: 680px;
  padding: 45px 0 45px 215px;
  text-align: left;
  background: url("../images/error_img.png") 58px 50% no-repeat;
}
.error-bx .tx01 {
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
  color: #ce2d46;
  font-size: 36px;
}
.error-bx .tx02 {
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

/* memner */
.mem-step:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mem-step li {
  position: relative;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-size: 16px;
  width: 25%;
  float: left;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #666;
  text-align: center;
  background-color: #e4e4e4;
  font-weight: 600;
}
.mem-step li:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 21px;
  height: 36px;
  display: block;
  background-image: url("../images/mem_step.png");
  background-position: 0 -36px;
  z-index: 2;
}
.mem-step li.step4:after {
  background-position: -21px -36px;
}
.mem-step li.on {
  background-color: #fb546e;
  color: #fff;
}
.mem-step li.on:after {
  background-position: 0 0;
}
.mem-step li.step4.on:after {
  background-position: -21px 0;
}
.mem-step li + li.on:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 21px;
  height: 36px;
  display: block;
  background-image: url("../images/mem_step.png");
  background-position: 0 -72px;
  z-index: 2;
}

.mem-schBx {
  text-align: center;
  border: #eee 1px solid;
  padding: 40px;
}
.mem-schBx .tx01 {
  margin: 0 0 10px 0;
}
.mem-schBx .tx-result {
  padding: 30px 0;
}
.mem-schBx .tx-complete {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 15px 0;
  color: #666;
}

.mem-agree h5 {
  font-size: 12px;
  color: #666;
  margin: 0 0 5px;
  font-weight: 400;
}
.mem-agree div + h5 {
  margin: 30px 0 5px;
}
.mem-agree .mem-scroll {
  height: 250px;
  border: #eee 1px solid;
  padding: 15px;
  overflow-y: auto;
}
.mem-agree .div-chk {
  margin: 10px 0 0 0;
  text-align: right;
}

/* minfo */
.minfo-pw {
  border: #eee 1px solid;
  padding: 15px;
}
.minfo-pw li {
  line-height: 24px;
}
.minfo-pw li + li {
  margin-top: 10px;
}
.minfo-pw li > span {
  width: 350px;
  display: inline-block;
}

.txt-bx {
  padding: 25px;
  border: #eee 1px solid;
}

.scroll-y {
  overflow-y: auto;
}

/* div-tab */
.div-tab {
  position: relative;
}
.div-tab:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 1px;
  background-color: #b3b3b3;
}
.div-tab ul {
  position: relative;
}
.div-tab ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.div-tab ul li {
  position: relative;
  float: left;
}
.div-tab ul li + li {
  margin-left: 1px;
}
.div-tab ul li a {
  display: block;
  background-color: #b3b3b3;
  line-height: 34px;
  color: #fff;
  padding: 0 20px;
}
.div-tab ul li.active a {
  background-color: #fb546e;
}

.tab-wrap .tc {
  margin: 20px 0 0 0;
}

/* setup-bx */
.setup-bx {
  margin: -25px -20px 0;
}
.setup-bx > dt {
  line-height: 40px;
  height: 40px;
  border-bottom: #ccc 1px solid;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.setup-bx > dd {
  padding: 20px 20px 0;
}
.setup-bx > dd .tx01 {
  font-weight: 600;
  color: #fb546e;
}
.setup-bx > dd .tx02 {
  background-color: #fb546e;
  color: #ffff00;
  line-height: 24px;
  padding: 0 10px;
  margin: 15px 0 0;
  font-weight: 600;
}
.setup-bx > dd .tx02 strong {
  color: #fff;
}
.setup-bx > dd .thum {
  margin: 20px 0 0 0;
  text-align: center;
}
.setup-bx > dd .tx03 {
  margin: 20px 0 0 0;
  padding: 0 0 20px 0;
}
.setup-bx > dd .tx03 strong {
  display: block;
  margin: 0 0 5px 0;
}
.setup-bx > dd .tx03 a {
  color: #fb546e;
  font-weight: 600;
  text-decoration: underline;
}

/* pnt-area */
.pnt-area {
  border: #e4e4e4 1px solid;
  padding: 30px 15px;
}
.pnt-area .pnt-tit {
  text-align: center;
  font-size: 16px;
}
.pnt-area h5 {
  margin: 30px 0 10px;
  font-size: 12px;
}

/* bill-box */
.bill-box {
  position: relative;
}
.bill-box .label-im {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -130px 0 0 -160px;
}

/* layer-pop */
.layer-pop {
  position: absolute;
  top: 126px;
  left: 0;
  padding: 0 0 0 30px;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}
.layer-pop .bill-bx {
  width: 100%;
}
.layer-pop .wrap-line {
  padding: 20px;
  border: 5px solid #f55976;
}

/* service */
h4.h4-tit {
  font-size: 16px;
  color: #333;
  margin: 30px 0 15px 0;
}
h4.h4-tit2 {
  position: relative;
  margin: 40px 0 10px;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 0 16px;
}
h4.h4-tit2:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  background: url("../images/sp_img.png") -310px 0 no-repeat;
}
h4.h4-tit2 .sub-tx {
  font-weight: 400;
  font-size: 12px;
}

.intro-tx01 {
  margin-top: 70px;
}
.intro-tx01 dt {
  color: #ce2d46;
  font-size: 14px;
  font-weight: 600;
}
.intro-tx01 dd {
  margin-top: 10px;
}
.intro-tx01 dd .thum {
  text-align: center;
  margin-top: 30px;
}

.service-info > li {
  position: relative;
  padding: 20px 20px 20px 180px;
  border: #ececec 1px solid;
  min-height: 140px;
}
.service-info > li:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  display: block;
  top: 50%;
  left: 25px;
  margin-top: -55px;
  background-image: url("../images/ic_service.png");
}
.service-info > li + li {
  margin-top: 10px;
}
.service-info > li strong {
  color: #ce2d46;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin: 0 0 10px 0;
}
.service-info > li div {
  line-height: 1.8;
  color: #666;
}
.service-info > li.item01:before {
  background-position: 0 0;
}
.service-info > li.item02:before {
  background-position: 0 -110px;
}
.service-info > li.item03:before {
  background-position: 0 -220px;
}
.service-info > li.item04:before {
  background-position: 0 -330px;
}
.service-info > li.item05:before {
  background-position: 0 -440px;
}
.service-info > li.item06:before {
  background-position: 0 -550px;
}
.service-info.service-effect > li:before {
  background-image: url("../images/ic_service2.png");
}

.service-pay .paytx01 {
  padding: 0 0 0 170px;
  background: url("../images/service_pay.jpg") 0 0 no-repeat;
}
.service-pay .paytx01 li {
  position: relative;
  padding: 0 0 0 16px;
  line-height: 1.8;
}
.service-pay .paytx01 li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  background: url("../images/sp_img.png") -310px 0 no-repeat;
}
.service-pay .paytx01 li strong {
  color: #333;
  display: inine-block;
  margin-right: 5px;
}
.service-pay .paytx01 li + li {
  margin-top: 10px;
}
.service-pay h4 {
  position: relative;
  margin: 40px 0 10px;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 0 16px;
}
.service-pay h4:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  background: url("../images/sp_img.png") -310px 0 no-repeat;
}

.company .infotx {
  font-size: 13px;
  color: #000;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  padding: 0 0 0 270px;
  background: url("../images/company_build.jpg") 0 0 no-repeat;
  height: 270px;
}
.company .infotx .tx01 {
  padding: 0 0 10px 0;
  font-size: 24px;
  color: #000;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  font-weight: 600;
}
.company .infotx .tx01 + li,
.tx01 + li + li {
  padding: 0 0 10px 0;
  line-height: 1.8;
}
.company .info {
  position: relative;
  border: #ececec 1px solid;
  background: #fafafa;
  padding: 30px 0;
  margin: 10px 0 0 0;
}
.company .info li.cicle {
  background: url("../images/cicle.png") 50% 50% no-repeat;
  height: 334px;
}
.company .info li.cicle-t {
  padding: 30px 70px;
  font-size: 12px;
  color: #333;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  line-height: 1.8;
}
.company .info li.cicle-t td {
  position: relative;
  padding: 0;
}
.company .info li.cicle-t .tit {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
  color: #333;
  font-family: "Nanum Barun Gothic", "돋움", "굴림", serif;
  text-align: right;
  line-height: 0.9;
}

.gud-tx {
  border: #ececec 1px solid;
  padding: 15px 20px;
}
.gud-tx dt {
  color: #ce2d46;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.gud-tx dd {
  line-height: 1.8;
}

.privacy-wr .hd-tx {
  background: url("../images/privacy_img.png") 0 0 no-repeat;
  padding: 0 0 0 245px;
  margin: 0 0 20px 0;
  line-height: 1.8;
  min-height: 190px;
}
.privacy-wr .hd-tx .pr_txt0 {
  font-weight: 600;
  margin: 0 0 20px 0;
}
.privacy-wr .hd-tx .pr_txt0 strong {
  font-size: 16px;
  color: #ce2d46;
  display: block;
}
.privacy-wr .list_bg {
  border: #ececec 1px solid;
  padding: 25px 30px;
}
.privacy-wr .list_bg:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.privacy-wr .list_bg > div {
  float: left;
  width: 338px;
}
.privacy-wr .list_bg > div + div {
  margin-left: 80px;
}
.privacy-wr .list_bg .list_div1 {
  border-right: #ececec 1px solid;
}
.privacy-wr .list_bg > div > p a {
  display: block;
  line-height: 20px;
}
.privacy-wr .list_bg > div > p + p {
  margin-top: 5px;
}
.privacy-wr .list_bg > div > p a:hover {
  color: #fb546e;
}
.privacy-wr .list_bg > div > p a:before {
  content: "";
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  background-color: #9b9b9b;
  border-radius: 50%;
  margin: 0 10px 0 0;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.privacy-wr .list_bg > div > p a:hover:before {
  background-color: #fb546e;
}
.privacy-wr .list_bg > div > p.number_1 a:before {
  content: "01";
}
.privacy-wr .list_bg > div > p.number_2 a:before {
  content: "02";
}
.privacy-wr .list_bg > div > p.number_3 a:before {
  content: "03";
}
.privacy-wr .list_bg > div > p.number_4 a:before {
  content: "04";
}
.privacy-wr .list_bg > div > p.number_5 a:before {
  content: "05";
}
.privacy-wr .list_bg > div > p.number_6 a:before {
  content: "06";
}
.privacy-wr .list_bg > div > p.number_7 a:before {
  content: "07";
}
.privacy-wr .list_bg > div > p.number_8 a:before {
  content: "08";
}
.privacy-wr .list_bg > div > p.number_9 a:before {
  content: "09";
}
.privacy-wr .list_bg > div > p.number_10 a:before {
  content: "10";
}
.privacy-wr .list_bg > div > p.number_11 a:before {
  content: "11";
}
.privacy-wr .sub_t_bg1 {
  position: relative;
  margin: 18px 0;
  padding: 0 0 0 15px;
  color: #333;
  font-weight: 600;
}
.privacy-wr .sub_t_bg1:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  background: url("../images/sp_img.png") -310px 0 no-repeat;
}
.privacy-wr .pri-bx {
  border: #ececec 1px solid;
  padding: 0 20px 15px;
}
.privacy-wr .pri-bx + .pri-bx {
  margin-top: 20px;
}
.privacy-wr .pri-bx .sub_txt2 {
  padding: 15px 20px 8px;
  margin: 0 -20px 15px;
  border-bottom: #ececec 1px solid;
  color: #fb546e;
  font-weight: 600;
}
.privacy-wr .pri-bx p {
  line-height: 1.8;
}

.loc-wr dl {
  margin-top: 30px;
}
.loc-wr dl dt {
  position: relative;
  color: #333;
  font-weight: 600;
  padding: 0 0 0 15px;
}
.loc-wr dl dt:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  background: url("../images/sp_img.png") -310px 0 no-repeat;
}
.loc-wr dl dd {
  padding: 8px 0 15px;
}
.loc-wr dl dd + dt {
  border-top: #ebebeb 1px solid;
  padding-top: 15px;
}
.loc-wr dl dd + dt:before {
  top: 17px;
}

.cert-process {
  width: 740px;
  border: #f9d2d8 1px solid;
  padding: 25px 0;
}
.cert-process:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cert-process > li {
  position: relative;
  float: left;
  width: 33.3%;
  line-height: 22px;
  padding: 0 0 0 65px;
}
.cert-process > li > i {
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -15px;
  background-color: #fb546e;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.cert-process > li + li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -26px;
  margin-top: -25px;
  width: 30px;
  height: 49px;
  display: block;
  background: url("../images/sp_img.png") -330px 0 no-repeat;
}

.cert-paper {
  padding: 0 0 0 158px;
  background: url("../images/cert_img02.png") 0 0 no-repeat;
  min-height: 100px;
}

/* Map */
.map > li {
  float: left;
  width: 20%;
  padding: 0 20px 0 0;
  margin: 0;
}
.map > li:last-child {
  padding-right: 0;
}
.map h3 {
  background-color: #a0a0a0;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.map ul.maplst {
  background-color: #fbfbfb;
  border: 1px solid #f1f1f1;
  border-top: none;
  padding: 20px 20px;
}
.map ul.maplst li a {
  color: #666;
  line-height: 24px;
}
.map ul.depth3 {
  margin: 5px 0 5px 0;
}
.map ul.depth3 li a {
  font-size: 11px;
  color: #8d8d8d;
  line-height: 18px;
}
.map ul.maplst li a:hover {
  color: #fb546e;
}

/* bill-lst01 */
.bill-lst01 {
  background: url("../images/bill_img01.jpg") 30px 0 no-repeat;
  padding: 0 0 0 170px;
  min-height: 100px;
  margin: 40px 0 0 0;
}
.bill-lst01 > ul > li {
  position: relative;
  padding: 0 0 0 16px;
}
.bill-lst01 > ul > li + li {
  margin-top: 5px;
}
.bill-lst01 > ul > li:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  background: url("../images/sp_img.png") -310px 0 no-repeat;
}

.bill-logo {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: #ececec 1px solid;
}
.bill-logo:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}
.bill-logo > ul > li {
  float: left;
  width: 20%;
  text-align: center;
  border-left: 1px solid #ececec;
  padding: 15px 0;
}
.bill-logo > ul:after {
  content: "";
  display: block;
  clear: both;
}
.bill-logo > ul > li:first-child {
  border: none;
}

span.spanTitle {
  line-height: 25px;
}
img.new {
  width: 30px;
  vertical-align: sub;
}
